.movies-list {
  list-style: none;
  margin: 0;
  padding: 40px 10px 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 34px;
}

@media screen and (min-width: 768px) {
  .movies-list {
    padding: 70px 30px 10px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .movies-list {
    padding: 47px 70px 10px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 38px;
    column-gap: 20px;
  }
}
