.landing__project-cards {
  margin-top: 60px;
}

.landing__time-line {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .landing__project-cards {
    margin-top: 70px;
  }
  .landing__time-line {
    margin-top: 93px;
  }
}

@media screen and (min-width: 1280px) {
  .landing__time-line {
    margin-top: 110px;
  }
}
