.profile {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, max-content) auto;
  min-height: calc(100vh - 74px - 70px - 40px);
  padding: 70px 30px 40px;
}

.profile__title {
  margin: 0 0 80px;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.profile__form {
  display: grid;
  grid-template-columns: auto;
  gap: calc(100vh - 416px);
}

.profile__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: #424242 solid 1px;
  margin-top: 17px;
}

.profile__container:first-of-type {
  margin-top: 0;
}

.profile__description {
  margin: 0;
  padding: 0;
  width: 130px;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  width: 120px;
  border: none;
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
}

.profile__button {
  border: none;
  background: none;
  color: #ffffff;
  padding: 0;
  margin: 0;
  width: max-content;
  justify-self: center;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.profile__button_submit {
  align-self: end;
}

.profile__button_exit {
  margin-top: 16px;
  align-self: end;
  color: #EE3465;
}

@media screen and (min-width: 768px) {
  .profile {
    min-height: calc(100vh - 74px - 236px - 269px);
    padding: 236px 0 269px;
    width: 410px;
    align-self: center;
  }
  .profile__title {
    margin-bottom: 96px;
  }
  .profile__form {
    gap: calc(100vh - 829px);
  }
  .profile__description {
    width: 141px;
  }
  .profile__input {
    width: 122px;
  }
  .profile__button {
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .profile {
    min-height: calc(100vh - 74px - 74px - 70px);
    padding: 74px 0 70px;
  }
  .profile__title {
    margin-bottom: 123px;
  }
  .profile__form {
    gap: calc(100vh - 495px);
  }
}
