.movie-card {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.movie-card__figure {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.movie-card__link {
  display: flex;
  margin: 0;
  padding: 0;
  aspect-ratio: 25/14;
}

.movie-card__image {
  object-fit: cover;
  width: 100%;
}

.movie-card__caption {
  margin: 10px 0 0;
  padding: 0 0 25px;
  display: grid;
  grid-template-columns: auto 24px;
}

.movie-card__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.movie-card__button {
  margin: 0;
  padding: 0;
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 50%;
  background: #313131;
  background-repeat: no-repeat;
  background-position: center;
}

.movie-card__button_disable {
  display: none;
}

.movie-card__button_like {
  background-image: url(../../images/buttons/save_disable.svg);
}

.movie-card__button_like-active {
  background-image: url(../../images/buttons/save_active.svg);
}

.movie-card__button_delete {
  background-image: url(../../images/buttons/delete_icon.svg);
}

.movie-card__duration {
  margin: 0;
  padding: 6px 0 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
  border-top: #424242 solid 1px;
}

@media screen and (min-width: 768px) {
  .movie-card__title {
    font-size: 13px;
    line-height: 16px;
  }
  .movie-card__duration {
    font-size: 11px;
    line-height: 13px;
  }
}

@media screen and (min-width: 1280px) {
  .movie-card__title {
    font-size: 13px;
    line-height: 16px;
  }
  .movie-card__duration {
    font-size: 11px;
    line-height: 13px;
  }
}
