.promo {
  display: flex;
  box-sizing: border-box;
  min-width: 100%;
  padding: 183px 10px 330px;
  background-color: #073042;
  background-image: url(../../../images/logo/landing-logo.svg);
  background-repeat: no-repeat;
  background-size: auto 230px;
  background-position: bottom 40px center;
}

.promo__title {
  width: 300px;
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-size: 31px;
  line-height: 39px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .promo {
    padding: 300px 44px 440px;
    background-position: bottom 70px center;
  }
  .promo__title {
    width: 680px;
    font-size: 40px;
    line-height: 52px;
  }
}

@media screen and (min-width: 1280px) {
  .promo {
    padding: 50px 70px 406px;
    margin: 0;
    background-size: 722px 244px;
    background-position: bottom 60px right 70px;
  }
  .promo__title {
    margin: 0 0 0;
    width: 626px;
    text-align: start;
  }
}
