.input-auth {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-auth__text {
  margin: 0;
  padding: 0 0 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
  width: 100%;
}

.input-auth__text_error {
  color: #EE3465;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 18px;
}

.input-auth__text_error_active {
  opacity: 1;
  padding-top: 6px;
}

.input-auth__input {
  margin: 0;
  padding: 0 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  width: 100%;
  border: none;
  background: rgba(0, 0, 0, 0);
  border-bottom: #424242 solid 1px;
}

.input-auth__input:focus {
  border-bottom: #4285F4 solid 1px;
  outline: none;
}

.input-auth__input_error_active {
  color: #EE3465;
}
